// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------


.sectionOne {
    background-color: #202020;
    padding-top: 12px;
    padding-bottom: 12px;
        font-family: "Somar-Regular";

    min-height: 200px;
  display: flex;
  align-items:center ;
    .fHeader {
        color: $color-white;
        font-size: 1.1rem;
    }

    // .arabicBtn {
    //     font-family: 'Cairo-Regular';
    //     font-weight: bold;
    //     letter-spacing: normal;

    //     span {
    //         font-family: 'Cairo-Regular';
    //     }

    // }

    // .closeBtnFooter {
    //     color: $color-white !important;

    //     i {
    //         font-size: 20px;
    //     }
    // }

   .contacts-sec{
    border-left: 1px solid #80808063;

   }

    //new footer section
    .conEachFooterSec {
        padding: 3%;
        .headerSec {
            color: #fff;
            font-size: 12px;
            margin-bottom: 10px;
        }

        .eachLinkFooter {
            color: #fff;
            font-size: 14px;
            padding: 0;
            min-height: 24px;
            height: 24px;
            min-width: 120px;
            justify-content: left;
            text-transform: uppercase;
        }
        .eachLinkFootertel{
            color: rgba(255, 255, 255, 0.486);
        }
        .iconTxt{
            font-size: 14px;
            padding-right: 7px;
            color: rgba(255, 255, 255, 0.486);

        }

    }
  .logoImg{
    width: 60px;
  }
    .v-btn:not(.v-btn--round).v-size--default.subscibeBtnFormFooter {
        background: $color-secondary !important;
        color: $color-white !important;
        border-radius: 4px !important;
        height: 40px !important;
        margin-left: 15px;
        span {
            font-size: .625rem;
        }
    }
    .conOFLinks {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .resImg {
        max-width: 45%;
        height: auto;
    }

    .btnContainer {
        button {
            min-width: 55px;

            i.v-icon.iconTxt--text {
                color: #fff;
                font-size: 1.5rem;
            }
        }
    }
    .conOfSubmitForm {
        max-width: 400px;
        margin: auto;
    }
    .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)>.v-input__control>.v-input__slot {
        box-shadow: initial;
        border: 1px solid $color-secondary;
    }
    .v-text-field.v-text-field--solo .v-input__control {
        min-height: 40px;
    }

    .headerSecForm {
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .theme--light.v-btn--active:before,
    .theme--light.v-btn--active:hover:before {
        opacity: 0;
    }


}

.sectionTwo {
    background-color: #30353A;
.conOfFooterCopyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

}
    .footerCopyright {
        color: #fff;
            font-family: "Somar-Regular";


        font-size: .8rem;
    }
.v-btn{
    min-width: 40px;
}


}

@media screen  and (max-width: 768px){
  .sectionOne .conEachFooterSec .eachLinkFooter{
    font-size: 12px;
    padding: 15px;
    min-width: 70px;
  }

}
