@import "~@/assets/styles/abstracts/variables";

.LoaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    svg {
        background: transparent;

        path {
            fill: $color-secondary;
        }
    }

}