@media only screen and (max-width: 768px) {
    .eventSectionContainer  {
        .v-picker.v-card.v-picker--date {
            max-width: 500px;
            margin: auto;
        }
        .conOfImgEvBannerRees {
            margin: auto;
            text-align: center;
        }
    }
  }