// -----------------------------------------------------------------------------
// This file contains all application-wide Sass placeholders.
// -----------------------------------------------------------------------------


%flex_center_center {
    display: flex;
    justify-content: center;
    align-items: center;
}